<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tbody>
    <tr>
      <td align="center">
        <table class="col-600" width="600" border="0" align="center" cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td align="center" valign="top" background="https://designmodo.com/demo/emailtemplate/images/header-background.jpg" bgcolor="#66809b" style="background-size:cover; background-position:top;height:300px">
                <table class="col-600" width="600" height="300" border="0" align="center" cellpadding="0"
                  cellspacing="0">
                  <tbody>
                    <tr>
                      <td height="40"></td>
                    </tr>
                    <tr>
                      <td align="center" style="line-height: 0px;">
                       <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAHgAAAB4CAYAAAA5ZDbSAAAAAXNSR0IArs4c6QAAHU1JREFUeAHt
                        XXuMHddZPzP33l2v7d04Wa8dr+34maaoiqrQSkggISIEoiiVEIiKlxSipqkq/qgAIUAQye0/VICQ
                        gBblQUpQKLQkhUqpgP5R+ohQoWnSIkhakth1/Fh77fjt9e7exwy/33fOd+bM3Ll314/Ys7dz7Jnz
                        ne91zvl+55w5M3fuXWPqVEegjkAdgToCdQTqCNQRqCNQR6COwNVFIFpJ/RVjxto79u6KkzReSVfl
                        40qsMh9bpd5KasPrja/02u1ep9daOHLu0ML9xnRX8jcK8hUBfnn7nnebOP5EZKJ1opyi286KiJc5
                        UF44IpTHoIU0y6pX5BfLqkebYqJuUZ86gc15FNuxSc8hf8tE8dGoaw4Zs/C9J+fmjh8wJgF/5FJZ
                        THKdfHnn/o/Ekfkz4LouIrguRbCkcdFBkadyzWmOweK85H1k3JX9egfir1+fcvXHXGnhpyl6Ei0Y
                        gA3+PI4XTTf67OyJ179O+SilYICXdwsj/t0mNc0bB25WTy7oGbuPCvWKQsrK5MrTXO2kHGF4Rmaj
                        iaKdKL/HpNGHTMP8y/Ht+58/vX3vO1R3FPKhAB/ACpeadB9GeoOdlVmLiDBIEigyg6S8UJ7nZRKl
                        VB64yfleSW+QvdrRr9JFXTtoBewmlDZEcfRAN2589eSO/Q+fmpnZGLZprdJDAf6FLXtmEJ5NODjm
                        ByYN4CAFa5o5KOpnkvzAKeqF/kObIj+UhfQwPZVh7d4GsP+kO3bbx49Nbp9W/lrNhwLcbiR3IEDr
                        ws4xYGVBU57mtMnoPJWVQp1+OtQrtiHvP5T202V+ynjqM8Wgxoh+JJ5a9yjvIvo9rh3OUIDjqHk7
                        LlYT2h0GpRiYkBfKlA43VOpHc9VhOaRVPiwv0y/yimXxx+1VsFkcWAeXbIA8vXPfowN11oBgKMCN
                        OGqlUdrg8kzFMGCkQ57KCGhGZxEgr3hk0owKdTJuRqk841iKfKYw79MluNThqQRktaUfSREGdxr9
                        1vzOfT+nrLWWN4c2ODKbAGJuiVb9MBghrZGzvLwkX1JPGSjKGaZXJlOe5vQT0uI3BFRpTmVsHyMe
                        HK0yYsGDMcvOx0RvrPF7jz7w20efnv153ksjuUcqhScry1boIlYQqizHzod2OSdTA+YQQHUpZIFe
                        XuydMQ/tcW0qCF1xOMBQ6gtUgRfK7dzFFUycZxJSWUmE/hTyV9ILddXBqni4F4gnUtPYgLatR1vG
                        keOIcfGJwI/Xo4wrbTQGcJk3bVk7crI1fd+r3bufS7uIMR4KxFGH205jehjOMjLwlKQRmRYMUvI7
                        5OOEQSJy8DimEsq6sOdAgm4Utx0fN6MQNXvWnjR10Qqq4YAv2I3RHilFG/ivORE/hpv5PxfmgNNQ
                        gHlvVHy8Y6sY4M2ve5mWtC9QzyS27Soq6imfeWgT8kM61JHQTKamNZuY5rbENGYSEwNcOQjqOgKM
                        fGjvM++LS82xMyc27Ja1HUgRgKw+zniEmwg6ppCgBSBxY4UOH5PCAWk+bpEB4Uzl8Qtogst/TNZH
                        4Bw8keAUm+h+FK8dYJOkl7CE+ZXHVun7of1hOzytDVOe2miZOVPIt5zh5zL9Ig87BjN+d8+M39sV
                        cCMsazHAxNSSgA6vYbB0udcwF9pwgpld6igX/1wBwONJgiLrq3A6gmjWC1JqbR+2ZTIxVX0ocZDB
                        +S7z+LfWmw+/94p3XSCGjmE83gC4ERYinN2h9lq1BZTNoo5yrX5Rt6ysFpqrjuaymmnB5aEuaS6t
                        E/d1zfof65jGHRjzNAqVCvZXW1xOmuZiF6NlaLTo1cLDqiUitijVeZ6HUNi+mTaCNAQVLBFi54XW
                        xteTRhvGN27dDpBeV0kxH9rkrumcb5rWIpeJMF4h7bpSKqdeXjdfvco0z0uH27LeGMvw+N7EbPjR
                        jmneiSjQEeOD64pMGnWsebGCVZQT+DvTnjDLSSODhnXAp7gFbesFEc5U5bMOoRFFGMnM8zwSSH5m
                        FnxYqT2rTsBDdeNxK9kK1rUBnLTbp0xrbCFsdxgrpW2uJduCfClrVZFfLKsm+WUy4WHT1MT1dcOP
                        dM34O3uyC85AhQYuiPxwU3R5CoOtFawyT+Dl9PKGfm36ZJJKbAVS1Up1OTs/QKyXVbVRu6ImGHzN
                        VpLetqiMkrxsBfRq9508eRZj7iyuI9odL9M5Lf0LoGDZ8ryqJ0L+SnqhrjoQHsAd29szkz/ZMePv
                        YPjB5U4QLZRWsqU8wCPovuV9PVCvw3NuiOaXyx5LW4fFdubLq6jUNzCLW85HIPctVbdR2kyieNLz
                        S4ihAKOiHsD9byw98uF4rmKJIj1mXFJZaTgd6oXtGsRXnbHdiZn8qa5dkslkZzkdCLICyrIcAQ+k
                        bzLpVabEAZxytDC5gGuMc06V2QeKCqwLey7jacycLPRTUOfmDdp8CIUbv8FpKMA0i+P0JTjDXZhN
                        zLNDuRmPWiov0mVl8sIU2ipfedEEwcVGChOK1zPcT9hZKuCiLDxkCjTk1JH7VeUxLoVgaT1lOdeI
                        U0vrTcSLsU8h7ZmOsDK5VSMHRbRAEnk2aa586hR4OTs1AzMHOjosN9dOXpKtCHBvMX0B1V+mrTbU
                        +slKGVXUydcY6uUlRY/9Uj6YmHqgK+BKLBgPARa59luBdnyJBfUc8F5PeP11lHHsDC5fBelGkieU
                        UcIv0ynlgVnGL7i2xSjBaB766tGKAL/r9OGTqPErof8yoMgr46udyjRXvuaD7K2+vQ0a247Nk4LK
                        nIEogGdBhZWT+9mseuBL/MRWax+ccwafXHLXYNiILdWVcLm2UzypTN2GZdJ6qLyQW18Fpq/Q8eED
                        0cCIjy4UNcPyigBTOUnMY1qpzbVkQc1Koet+wIfplcmU19zKBxhAhqC5ZVkBtMGCpsgod4cCymAq
                        T5ZsW85mN8pD0oXOuLncsw+J6YrJr5KOoe1kW0LaagdndeBYuSILAcP7oa6vMPAPNjaYnY6Jrx/g
                        08cPvoDN63+yrrAKNiLXEJHbU8hfrV5gHvgFuPvwuJGTSIMA8HIAka/XW9Aic4NB+MoTe7SGshzP
                        +UZWTHNLU2HcC2I6LCSwwr7bRhd0isVSAMt9h6ZRmrST5aXTIa9Ir2oG349H3WnPfAJNx1Nvm2io
                        HWFeRlMzlLEcJpWprcrCcmMTninjIYbci/uZCE2ZyQBaeYwHDwKNnDHTo58HHTebdQmXGNO+kI4v
                        TkEXlSR8oBcqFOiw6H04JjLdRGluVSAIwPVmrh6Jg8pD/66xYC20O903M7t+alUA06wXL72AaH6N
                        98RSsfMV0kX3lA2TF/VZLuo38MJQYwpdcYDo7LNgwkCARs4A6CG68OTAt4OA5YxnZSjThnpqqzlY
                        TEeuoAGSKFhtgq5TRw0DUt6f1XM8ZnoUrRVw8PGJ1hHzwXdeKqqE5VUD/MqxYxfwsO7TcHtCHRQb
                        H5ZDWvXDnPKVdPhwvzmN2Yvn/LbDsGDH+wDhTMahQfE6Tl/LYmd5Xpegc8hCx/PYUNogHccSPShR
                        xamJCrx4jqV90SmG2qI88KT2mpcqptE3SvkBc9UAfwCTuHUp+VdE8vMIZfGz58BlBtygxpFfJivy
                        4jF85rkFe0XEJVuKocU4Eay+g0A7vuoE4AmAIrc+xK/qudmds4fsTcxgtotqcvCkyTOVYXPVz3OD
                        0iA7x6d9MVmerVzl3TT+SlGvWF41wDTcc/7w+WaS/ike9b6klahDLRdzlWtOueooj3kpDx//xbeh
                        UwCFgc8BFALpAmMBhyctM6ceQXb6HsBgufa84mCAvZ/B6pONRZK2WNKdqVBIJSxpW0FtNcUSV8cX
                        X9v+XyvZXhXAdLZv7tCRqJt+FJfieZYJjIJTzCkPU6hb5Idl0nzGzDctYtyhyPJLgHmgp/aANwWO
                        vddD9LhcB0u27I+cvtoTcAGUfPznEfJAdzEI5pcmIVbnbBmSR7fIp8weqN3FJdNh/5koyyXtVJ4p
                        emLj68sU0L9PmwN40LFCumqA6W//iYMvNbu9X8RMfhGdzbVWO1Gsl/wyWRlPbfnZrp9dCHZGQwNd
                        k5oVZHaVB1ujtNooj7mAavW8P+XRp9qCd9RtsOS5r+yiYVcEh6wVkvTRRSnfX8fM2TueikI70jjw
                        /1wSx4/lzAYUrglg+tp74vsvpEn6UZBfQqM7bHi+8dS6tmQ/qcLsxb0vbs/czIIvBawESA+uC4IH
                        GUDZgUB7PdBS+GLZA8oygVYe/Mwtho8o1XF/nygpxV0EgX6ZYqCD2m3SOeNknu/l5vkrv3zXnBaH
                        5dcMMJ1++/gb3+z1ur+JKH0Go3zgx5JsYF8jB/IyTb5DpQEXIFD0u2UHsgdPwIEtgxIeAmoB5FAu
                        Pgs2jjfHe+CSRHNNIU2ebX2BWyiKbRlPnQ7N01NJnD4zVCUQXhfA3FnfM3f4e/uOHnwo6qW/gsji
                        uXU+sYIMMitjuZ/Heatce/3i9dfONPB5HRWwUAvfPnSzjWASfB0AOjNVN8u5xMMPA+sGR3YNpkz9
                        U8cefMhBdR7geBqkpGxwaX+oaZO8hEcyYzlJkEFWFNOOdfHIJVRGHj48+oeFdNM3c7IhhesCOPS7
                        Z+7gF1pH3tiLyP8BLsvYZaenGum1fMnadRk95UtzGnjZNCnIDIws3egyeTQhT4HW5dbxRe5AtZsv
                        2HlAYSu0BVlAc7IT+JCBQWXQ6UqS0qIYMDONvLKqSAOdF2T0a5P3DLuAhtDqWGAh4W7n5ShJPmd+
                        bfqiWq+UD30nayXjonynMYvp0Tf+6OjOnU/30rEfx2dZPxGl8T60bRZvFm5GgzchWHx9OOtfzknW
                        QQEXMgkuAk4Dvg/MIMjeEUPTxgPO+FltMFTpxeqIVVYDgSOLbuTd4qw+qwQBfOlvGfhbJApZmTi2
                        mtm5wCwUbQvyzDKe+A/fjZIKMjtcAi+j9NSlw8dezOpembqhALM6xs4cPcoNwGfRoGff2L5923g8
                        vi1Jos1xFG/qpckkdPzuJeZXC3xi1zkl8XhyW3IvZuSDpNlv7SpzVkJNmRQAFl/7FGCESQEOrrIk
                        xZijxPEl52AA2KJDfjA4RBEg400vM9/mLo+2UOLzaC4R/BrEoKSNFHmuINWSox0RusQPm+NlIKTv
                        yDEgn7rY6z1jDtw/9PPfossbDnBYARrbM8ePHwOPhyS2+VV5U1k55fm29+96GJF/UJZo9pqJxkAl
                        xUdbTDrgBQOCTD0no1zwEB5P1oZ8WZIJqvoiblIGj6pwfKG3ziwlfEZqE9nWB/2gDXImb3CSWlVR
                        c1Hnsmt9uKKtN3SlAwt2SZT+48XW+MfNr+8a+tw5NFf6bQVYKwlzdJpdbYe8MvpsHGHFt0n6ChDk
                        qyAEg8GhF4ApQeQJBzPZZIUgCw8yDgBJNESiP7J4vQa4djA4Gdhn2+vlQQfI/kQ1dQdS2geezDYn
                        Ek8FvT5HlJfpgOcHb5Q+dyEaf9D86q6hj4f7fDvGTQd4UEOKfKyS93BlFeAQTAFUQaGyBJgnKHH2
                        cWVnjiMiaBQFS7OAQDkjF/DFxvmVbyC4QcN3ofGsFwYWAzaFyTXJFlgGQ8GwUopQR6gY0ioIeAGp
                        Dun2HI7PtpebHzMf2XNN4LIllQUYGOwRkNBLCQBjBoK4yWxD7GX5BkcWuzCmVOIhs5bWNqmdFZIH
                        mQ4a0QcLg4OXgDOd9abnAKbIJ2mMK3l0QyZkuaIWbM6xxWt/Pjkd5w8teBV1P9kZ2/h3lx/ecSav
                        e3WlygKMr4vtJ3AaC42lgqzXUQGZEXMzj3KZxZx8BK8EZDp1XwrMR0vBhsIZLtG6naZTVuQr59Np
                        DqyVkgWOekLRjTOyPHKZLBOy8/iM9zncD/3t2eVDL5pHftZ/L8zqXf25kgCfeOhO/DaI2Shgoe8c
                        9ZJccIQPhtwKgSc4cFlmAtACLEgBUUFWcKjmVEuXa/qAzVuYwR5gmijAlJckNlHceqJESVmiE2y0
                        UrMAUL/QTdNP4UXn/zn9G++St1hV/XrySgIcNya2CR68uIHgqGfwsiVW2DiBL1EF6fJwly2BoS0D
                        WthkycyXS2wwE939NOs+35nAZd1eg+mHLjSR1qXWVZspCAPgiRIKyG3b+C4MehPJbqELDdzupEdN
                        Ej+bjDf//q1Hfug19X8j80oCjDc5thFSBpoI8tMcDzJ4HlQXCZ3JLFo9Lu40trqc4fpwBBS1RKYb
                        M7EhliQgA7D8Rbz/Axql1z9pF/Qit85zLtIl28WacXmRsqsFNCh8axwIn0nTxkG05zWTdL9zavaH
                        XzEfsN/etA268Wf2qHLp1If3fBA72r9WICNMBzZUyywo7XP2wvEl7jTgdZnAEWAe4sTqWYdExcrV
                        VqZebI4lafKhjb9/7N8gXdOJ3a9cwiUQM9gOfGkcZhZnQzYjMpmdTaIlCizL8ktl7oh5DXaHp9WZ
                        5pR7O7G5GKfxVT9UcK2oVFZJgLEk79AoCWAsEGSC4AXk2UKRPxBkBdEBKksyffAIQMZyfh4zeCQA
                        ruQ1GMvzLIOuyy8BkyVUZjIFdmUlP6dDvCkDnyYCGpdmfrxoOaKvM9wu5c4Zl2oaQh8L+/lGt7vq
                        T2xYVVVT5Wbw3Ptn12NzczsBEmBd5GRWCg0kFMCiDuWCrM3FXmcmQMaXYbPlmz4o87OZNtBBGR9F
                        XsRXQm7YrQo837JUOYBx9d0MYPADZBarEGRGyQIdgEw9BZVyd1BXCzpjLaAByAST9jmQOZHT85Nm
                        biRmcOWW6LTXmsYniPixI7ticskVoIgpwJAlmaCgbO81rZzA6nINUk0yG4JoxwUydUpNJOWTHUdt
                        qJ6JPrbyByJiW/FT5WYwXhCYASr4eTILkp2xrsCM4DKocj12tJStTEhRIGWT+hJDzlp+MMEnXxTo
                        7GVOWWKWGmn0lrVc++fKzWB80D4TA2CGVnDSyYacJBNBtpNQhSg6UkSgRYfKoGXTRTkTFFjmQyv8
                        AIJ7nMkCRNRJ8TFwlJwV3RE4VW4G45HTZuxiJxQgnbGSAwdNKicyZHuRJxwPZWFprg5oY2dsNpup
                        mJpF7LqHfiUzcFF5snIAA1y7yWKsBRmb29hnPEY2Ax0gBwCqnej4Ew3kvwdcygSZzrlk88FIzyzi
                        k/6RWaIrBfC33oMX8lJzO57ZMpfkwWLZAaQyq+EA4kwO5N7OmmUmzq917nzqTIYMS/1ip23qJVqD
                        eyPzib07JhFrfOWbT5/ziWXh4aQ5NTyQwrQgiyX1hCel3InsnIi6qNjdAy92JhZP5QzWcKFSm6yJ
                        qdYkPsrZ5J43BB/WBRG2GyHP4OZKgHR83gLhdV3ZdMnmCpo5ExT6Nl30Bj5fnMRP/V6a+eO3RuIx
                        JbtVqSU6aXcn8UaD/b4IZ5WbZpqzwaTJdiKyJKmO5yuBPCClIOUSPh3hO2ar+s6PrbX650oBjFcz
                        pnoJr8EOROaChs1zNGIrek7OUKuc05FsL/KE42kZuZK0Z8L1/5ilRuNcKYDxIQNeiI9u42sPTAz+
                        IBCFH+hQnynTDzZdji8KpN0hZQeyAI1TbOIaYA3Ujc7xGSzew0pvo98cyFLur01BEYkUMh07mwOQ
                        Ibc81bGzXG3VPE17/jdIVHMt55XaZGFzdDseVWbf2cRMjvBWhgIjT5+CaHOe8/aV79lpIo/FLCeQ
                        4ICR33Q5I/JpjCJ94ZfjjrM4KqkyS7S9B45mGHZdZi0t4RfQeFI5ARDgweAdDvkqdyQzx7czWRmi
                        KwWrEJYXe8tHVTQKeWUA3rp3B1eTLRYRG1oPtENAAWVRaEUADA+y8gIdBVDzXB3Uh0Bk+N2Rx//y
                        ZOmLdoHbNUVWBuCF5SX+yYstZaDyeix8YkEkBA2be6DBExFzlas+ci7E6oMlebBBAknUrfF/HLBj
                        RfijcKrMNbg3vq6FayT//kA+YYW21067VOuFlHhwdOqDDs39xZcyesJJAedDkNyrO24giC1U8Trr
                        l2kySqkyM3h83XgTQPAbDT4JMABBcOCJdFAWFk8UBbmQOGmuclsmyP0yOFhaWux8kbqjlCoDcG9p
                        GT97ZvDDwQ5EQSOjM1DsTNay6hMUDzJoXpNlQDAPkrgNlnw7CqCQmm/MPjF3JFAdCbIyALc7+Htk
                        aTStMzQEjpEWPpghXwAdwhOQna36kJwnWbuFcE7N51xppLLKABy3Wvw+EpdpOxMD4ARIxULkdsNE
                        VhnIogo9ptC2WKaKU3stic3XKB+1VJlNFiDbw5/Pl4Soc/a5Uj7mZAoqTqpPL5y+A8xvvmSigsmR
                        LBY4ZaDLtquHP6H7z9PJwrF8RaNRqswMxntwdzHwWfAtrYB5mWc4OW2IheYOF/UT5qon6lLAQEqj
                        w3GafDH6q9Mj8R60677PKjODcY+yWwKPk4u9nYUsg8FbGSYFjNORk5fzUh9FekNy3UzVXKYv9dVO
                        /KWL+LmH59tXlr9NT6OYKgMwPmTYw+gz7gowA85y+LzZA6ZC0bFWoR2dqK7k1GdSkEkn0XeTtPPJ
                        O5+Zx5/hHc1UmSUa19y7FCDOUtKSC2GvycpTKFSuOfmkaRzq5nhWTFX8WnDvd7Y+cfQgC6OaKjGD
                        D/ADodRsZ5D95ooIBdM5IKmWJS8gwaTPqmyJZ1VRDegsYHn/3a1PvPnvmdZoUpUA+Gfet30W98D+
                        b/BxSdVZSHSkSMCZnExI1cvx3DXZDRDZZENOFZdOYzD9xZYnv/8pZYxyXgmAG63GLsHPgchZrLc1
                        ZEnZISTLrQNMaMgp4ksgwR2Tv/4KH3ImXOfnMJA+mZrO45Yz+udKAIzfq9yjwMnFk2C42At4YRkM
                        AR0n/V0V2lIv24w5tNUOcizc87gn+sMN7Qufn/7M2ZH45qAL0dCsEgDjb9jutbc8aKtDlDNPkHRY
                        EVRNIsLJ/SiOn63KFz044NvVAn6UvohXcX5p198cOaQ+flDySgCMe+AtQBNYyNXX4kNEBbEAimIZ
                        IgVeb4mcMV0twP5QbJKnDr55+In7v2qu+ecAgxasObISAOOX2L/ML50BpHuA2G5cgKdwrcxu4RRY
                        BR1hlhkPvgDsUI6jtAdkT8Ym+l/M769D6Z/uevrwa7vsZXzNgXMjGszQVSJ96ae3bpgZW7+/00j2
                        NkzjHlxf7wXgd2MW7kI+HUfy165lVnO2yoGWI8cXxdKD+CYofqU4+o6Jk++my51X73n2GF9gd9BX
                        oou3pBGVATjs/evvM+MXmrOTjcbYRvxW8gRm+FSzaTbhtdrpqIFyGi2h4ReaUfcEdtiLUauxMNnp
                        XJo/dOzSe18y/g9ohj5ruo5AHYE6AnUE6gjUEagjUEegjkAdgToCdQTqCNQRqCNQR6COQB2BOgJ1
                        BOoI1BGoI1BHoI5AHYE6Aj9gEaji58Fhm4o0y/LC5e7du6Nutxt1Oh158yPBX6DGSz/RdABgD7wE
                        vIDVR+JFgrQRZ7/Twx/owK/tpbHjtVqtpNlspocPH+bLAzz4kieT5qTDFwtCmrJbmoZ2/m1smQJl
                        wQJo+DtvET6pj3ubN8ebAEw3SWKCk0xORvjxrBWBehvbWuqaA+MyB8KlS/jj3FHajOPkPAZFo9FI
                        WvPzCd6FSg/bQaCDggPipoN/MwFmXa3Z2dkmZ91kt9tQEFOAuGGFmVYa5Yozr1y+nCj4l5rNHleD
                        ubk5/ol2vnVyU8C+WQDHMzMz6yfa7RaWzXgDAK04Nm9L8xYw0xsAfXFsrHP69OlFVMK/HvG2ppv1
                        ViUuj2nU27gxHsWZulqE2PcFxCBdXuYAH6kZrDFozhoztnTHHc0pvcai0wTfTE2ZUQGfM9VcvGg3
                        a6SRLuEaPXHuXAevenJ5vmkvBt7KpZIbrMZ+bKzwRnrc2bo17vV6MXfDd0AgGywAr7tgyTEIbuWG
                        SzdWBI+JZT1Yxp/vlt03N1qN+fkU36brvWE3WlyKw1031W9KupUAD+og26QHdZSWtmJASM5dN4Vt
                        xJk5U2/rVuHZEiLqbp20XJaHt0QqJzhKjzlguCsmD4CpjLkeFCmtcvJuecoF5Ja35voacKP7Uimg
                        ri80tXUdgToCdQTqCNQRqCNQR6COwA2NwP8DERHmf3B58UYAAAAASUVORK5CYII=" /> 	     
                      </td>
                    </tr>
                     <tr>
                      <td align="center"
                        style="font-family: 'Poppins', sans-serif; font-size:37px; color:#ffffff; line-height:24px; font-weight: bold; letter-spacing: 7px;">
                        RESET <span
                          style="font-family: 'Poppins', sans-serif; font-size:37px; color:#ffffff; line-height:39px; font-weight: 300; letter-spacing: 7px;">PASSWORD</span>
                      </td>
                    </tr>
                    <tr>
                      <td align="center"
                        style="font-family: 'Poppins', sans-serif; font-size:16px; color:#ffffff; line-height:30px; font-weight: 700;">
                        Hey <%= @resource.first_name %>!, Someone has requested a link to change your password. You can do this through the link below.<br>If you didn't request this, please ignore this email.
                      </td>
                    </tr>
                    <tr>
                      <td height="50"></td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td align="center">
        <table class="col-600" width="600" border="0" align="center" cellpadding="0" cellspacing="0"
          style="margin-left:20px; margin-right:20px; border-left: 1px solid #dbd9d9; border-right: 1px solid #dbd9d9;">
          <tbody>
            <tr>
              <td height="35"></td>
            </tr>
            <tr>
              <td align="center"
                style="font-family: 'Poppins', sans-serif; font-size:22px; font-weight: bold; color:#2a3a4b;">
                Please click on the reset possword button!</td>
            </tr>
            <tr>
              <td height="10"></td>
            </tr>
            <tr height="70">
              <td align="center"
                style="font-family: 'Poppins', sans-serif; font-size:14px; color:#757575; line-height:24px; font-weight: 300;">
                <a href="http://localhost:3000/reset-password/<%= @token %>" style="background: #faa51a; padding: 15px; text-decoration: none; color: #fff; font-weight: 600; border-radius: 5px;">Reset Possword</a>
              </td>
            </tr>  
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td align="center">
        <table class="col-600" width="600" border="0" align="center" cellpadding="0" cellspacing="0"
          style="margin-left:20px; margin-right:20px;">
          <tbody>
            <tr>
              <td align="center">
                <table align="center" width="100%" border="0" cellspacing="0" cellpadding="0"
                  style=" border-left: 1px solid #dbd9d9; border-right: 1px solid #dbd9d9;">
                  <tbody>
                    <tr>
                      <td align="center" bgcolor="#9c9c9c" height="185">
                        <table class="col-600" width="600" border="0" align="center" cellpadding="0" cellspacing="0">
                          <tbody>
                            <tr>
                              <td height="25"></td>
                            </tr>
                            <tr>
                              <td align="center"
                                style="font-family: 'Poppins',  sans-serif; font-size:26px; font-weight: 500; color:#fff;">
                                Stay in touch</td>
                            </tr>
                            <tr>
                              <td height="25"></td>
                            </tr>
                          </tbody>
                        </table>
                        <table align="center" width="35%" border="0" cellspacing="0" cellpadding="0">
                          <tbody>
                            <tr>
                              <td align="center" width="30%" style="vertical-align: top;">
                                <a href="#" target="_blank"> <img width="30" src="https://designmodo.com/demo/emailtemplate/images/icon-fb.png">
                                </a>
                              </td>

                              <td align="center" class="margin" width="30%" style="vertical-align: top;">
                                <a href="#" target="_blank"> <img width="30" src="https://designmodo.com/demo/emailtemplate/images/icon-twitter.png">
                                </a>
                              </td>

                              <td align="center" width="30%" style="vertical-align: top;">
                                <a href="#" target="_blank"> <img width="30" src="https://designmodo.com/demo/emailtemplate/images/icon-googleplus.png">
                                </a>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>